<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<title>Steam XQDL - Gêneros</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link rel="icon" type="image/png" sizes="192x192"  href="http://www.ludicious.ch/inhalte/uploads/2018/01/steam-logo-icon-7.png" />

</head>
<body>

	<nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark static-top sb-navbar bg-nav">
		<div class="container">
			<a class="navbar-brand">
				<img class="navbar-brand-logo logo" src="https://i.imgur.com/p9VXQEB.png" />
			</a>		
			<div class="collapse navbar-collapse justify-content-end text-white">
				<ul class="navbar-nav">
					<li class="nav-item">
						<form th:action="@{/logout}" method="post" class="form-inline float-right">
							Bem vindo(a), @[[${#httpServletRequest.remoteUser}]]!
							<button type="submit" class="btn btn-info ml-2 btn-sm">Sair</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<section id="section-list" class="page-section">
		<div class= container>
			<nav class="navbar navbar-expand-lg ajust-nav">
				<a class="btn btn-info" th:href="@{/generos/cadastro}">Novo gênero</a>
				<div class="collapse navbar-collapse justify-content-center ajust-div">
					<ul class="navbar-nav">
						<li class="nav-item">
							<span class="font-span">Gêneros</span>
						</li>
					</ul>
				</div>
			</nav>
			<div th:if="${generos != null}">
				<div th:if="${mensagem != null}">
					<div class="alert alert-success" role="alert">
						<span th:text="${mensagem}">mensagem</span>
					</div>
				</div>
	
				<table class="table table-hover table-light">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Nome</th>
							<th scope="col">Descrição</th>
							<th scope="col">Ação</th>
						</tr>
					</thead>
					<tr th:each="genero : ${generos}" class="text-dark">
						<td><a th:text="${genero.nome}" class="btn btn-info btn-sm"
							th:href="@{/generos/{id}/jogos/listar(id=${genero.id})}">nome</a>
						</td>
						<td th:text="${genero.descricao}">descricao</td>
						<td>
							<a class="btn btn-sm btn-warning text-white"
							th:href="@{/generos/{id}/atualizar(id=${genero.id})}">Editar</a> 
							<a class="btn btn-sm btn-danger"
							th:href="@{/generos/{id}/remover(id=${genero.id})}">Excluir</a>
						</td>
					</tr>
				</table>
			</div>
			<div th:if="${#lists.isEmpty(generos)}">
				<div class="alert alert-warning" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign">Nenhum gênero cadastrado!</span>
				</div>
			</div>
			<div class="text-center">
				<a class="btn btn-info buttom-voltar" href="/home">Voltar</a>
			</div>
		</div>
	</section>

	<footer id="footer" class="text-center text-white">
		<div class="container">
			&copy; 2018 Steam XQDL
		</div>
	</footer>
	
</body>
</html>