<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<title>Steam XQDL - Adicionar jogo</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no" />

<link href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link rel="icon" type="image/png" sizes="192x192"  href="http://www.ludicious.ch/inhalte/uploads/2018/01/steam-logo-icon-7.png" />

</head>
<body>

	<nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark static-top sb-navbar bg-nav">
		<div class="container">
			<a class="navbar-brand">
				<img class="navbar-brand-logo logo" src="https://i.imgur.com/p9VXQEB.png" />
			</a>		
			<div class="collapse navbar-collapse justify-content-end text-white">
				<ul class="navbar-nav">
					<li>
						<form th:action="@{/logout}" method="post" class="form-inline float-right">
							Bem vindo(a), @[[${#httpServletRequest.remoteUser}]]!
							<button type="submit" class="btn btn-info ml-2 btn-sm">Sair</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
	<section id="section-list" class="page-section">
		<div class="container">
			<div class="text-center mb-2">
				<span class="font-span">Adicionar jogo</span>
			</div>
			<form th:action="@{/generos/{generoId}/jogos/salvar(generoId=${generoId})}" th:method="${jogo.id} == 0 ? post : put" th:object="${jogo}">
				<div class="row">
					<input id="id" type="hidden" th:field="*{id}" />
					<div class="form-group col-md-4"> 
						<input class="form-control" id="nome" type="text" th:field="*{nome}" placeholder="Nome" />
						<div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
					</div>
	
					<div class="form-group col-md-4">
						<input class="form-control" id="desenvolvedor" type="text" th:field="*{desenvolvedor}" placeholder="Desenvolvedor" />
						<div th:if="${#fields.hasErrors('desenvolvedor')}" th:errors="*{desenvolvedor}"></div>
					</div>
					<div class="form-group col-md-4">
						<input class="form-control" id="nota" type="number" th:field="*{nota}" placeholder="Nota" />
						<div th:if="${#fields.hasErrors('nota')}" th:errors="*{nota}"></div>
					</div>
				</div>
				<div class="container">
					<div class="text-center text-white">
						<div class="justify-content-end">
							<button class="btn btn-success mt-3" type="submit">Salvar</button>
							<a class="btn btn-info mt-3 ml-3" th:href="@{/generos/{generoId}/jogos/listar(generoId=${generoId})}">Voltar</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>

	<footer id="footer" class="text-center text-white">
		<div class="container">
			&copy; 2018 Steam XQDL
		</div>
	</footer>
	
</body>
</html>