body {
	font-family: 'Source Sans Pro', 'Roboto', serif;
}

#body-home {
	color: #ffffff;
}

#body-login {
	padding: 15px !important;
  	margin: 15px !important;
  	background: url("http://blog.sklambert.com/wp-content/uploads/2012/09/bg.png");
}

#navbar-main {
	font-size: 23px;
	height: 135px;
}

#header {
	background: url("http://blog.sklambert.com/wp-content/uploads/2012/09/bg.png");
	height: 950px;
	padding-top: 360px;
}

#section {
	height: 600px;
	padding-top: 230px;
}

#section-list {
	height: 800px;
	padding-top: 250px;
	background: url("http://blog.sklambert.com/wp-content/uploads/2012/09/bg.png");
	color: #ffffff;
}


#contato {
	height: 600px;
	padding-top: 210px;
	background: url("http://blog.sklambert.com/wp-content/uploads/2012/09/bg.png");
}

#footer {
	background-color: #000000;
	height: 75px;
	padding-top: 26px;
	background: url("http://blog.sklambert.com/wp-content/uploads/2012/09/bg.png");
}

.logo{
	width: 200px;
	height: 130px;
}

.logo-home{
	width: 400px;
	height: 260px;
}

.bg-nav {
	background-color: #000000;
	border-bottom: 1px solid white;
}

.div-header-home {
	height: 500px;
}

.font-span {
	font-size: 42px;
}

.ajust-div {
	margin-right: 110px;
}

.ajust-nav {
	margin-bottom: 20px;
}

.ajust-button {
	margin-top: 10px;
	font-size: 26px;
	width: 200px;
	height: 55px;
	
}

.ajust-input {
	margin-top: 10px;
	font-size: 26px;
	width: 580px;
	height: 55px;
}

.buttom-voltar {
	margin-top: 5px;
}

.buttom-salvar {
	margin-top: 45px;
}


strong {
	font-weight: 900;
}

hr {
	background-color: #ffffff;
}